@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* * {
    box-sizing: border-box;
} */
@import '/css-reset.css';

:root {
    --ff-primary: 'Red Hat Display',
        Times,
        serif;
    --color-pale-blue: hsl(225, 100%, 94%);
    --color-white: hsl(0, 0%, 100%);
    --color-bright-blue: hsl(245, 75%, 52%);
    --color-very-pale-blue: hsl(225, 100%, 98%);
    --color-desaturated-blue: hsl(224, 23%, 55%);
    --color-dark-blue: hsl(223, 47%, 23%);
    --color-active-button: hsl(245, 83%, 68%);
    --color-active-change: hsl(246, 49%, 65%);
}

body {
    background-color: var(--color-pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display',
        Times,
        serif;
}

.container {
    background-color: var(--color-white);
    max-width: 350px;
    min-height: 600px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.music-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.header {
    font-weight: 900;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--color-dark-blue);
}

.paragraph {
    font-size: 1rem;
    color: var(--color-desaturated-blue);
    font-weight: 500;
}

.para-1,
.para-2,
.para-3 {
    display: inline-block;
    margin-left: 50px;
    /* margin-right: ; */
}

.para-1,
.para-3 {
    padding-left: 15px;
}

.price {
    width: 310px;
    height: 90px;
    background-color: var(--color-very-pale-blue);
    border: 1px solid transparent;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.music-icon {
    float: left;
    clear: left;
    margin-top: 20px;
    margin-left: 20px;
}

.plan,
.price-1 {
    display: inline-block;
    padding-left: 30px;
}

.plan {
    padding-top: 20px;
    font-weight: 700;
    color: var(--color-dark-blue);
}

.price-1 {
    color: var(--color-desaturated-blue);
}

.change {
    display: block;
    padding-left: 230px;
    margin-top: -35px;
}

.change:active {
    cursor: pointer;
    color: var(--color-active-change)
}

.btn-1 {
    background-color: var(--color-bright-blue);
    width: 310px;
    height: 50px;
    margin-left: 17px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: var(--color-white);
    font-weight: 700;
    box-shadow: 0 4px 7px -2px var(--color-bright-blue);
}

.btn-1:active {
    background-color: var(--color-active-button);
    cursor: pointer;
}

.cancel {
    display: block;
    text-decoration: none;
    margin-left: 120px;
    padding-top: 20px;
    color: var(--color-desaturated-blue);
    font-weight: 700;
}

.cancel:active {
    color: var(--color-dark-blue);
    cursor: pointer;
}

.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    body {
        background: url('./images/pattern-background-desktop.svg') no-repeat;
        background-color: var(--color-pale-blue)
    }
}